@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  border-radius: 5px;
}
body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url("https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 95%;
  max-width: 300px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.emoji h1 {
  font-size: 50px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  color: white;
}
form {
  width: 100%;
}
.socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  width: 48%;
  padding: 0.7em;
}
/* input {
  width: 90%;
} */
.remember-line {
  width: 100%;
}
.name input {
  width: 100%;
  padding: 10px;
}
.name {
  width: 100%;
  /* border: 2px solid blue; */
  position: relative;
  margin-top: 10px;
}
.name i {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 14px;
  color: rgb(156, 156, 156);
}
.name input {
  padding-left: 30px;
  border: 0.5px solid rgb(102, 101, 101);
  outline: none;
}
.fa-brands {
  padding-right: 10px;
}
/* .name input :focus {
  display: none;
} */
.remember-line {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.login button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
p {
  margin-bottom: 10px;
  color: white;
}
.facebook,
fa-facebook-f {
  background-color: blue;
  color: white;
  border: 0;
}
.twitter,
fa-twitter {
  background-color: rgb(67, 67, 255);
  color: white;
  border: 0;
}
.login button {
  background-color: rgb(204, 254, 210);
  color: black;
  border: 0;
}
input[type="checkbox"] {
  vertical-align: middle;
}
a {
  color: rgb(253, 146, 221);
}
